<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760978599544-3r01naeres35odt1uqpfruk1js7mohpe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760978599544-3r01naeres35odt1uqpfruk1js7mohpe</string>
	<key>API_KEY</key>
	<string>AIzaSyB3bTEbWDJI9UQpIh1D9dwTVW7J3s7p6Mg</string>
	<key>GCM_SENDER_ID</key>
	<string>760978599544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>softxpert.Recipe</string>
	<key>PROJECT_ID</key>
	<string>crashlytics-test-7eac3</string>
	<key>STORAGE_BUCKET</key>
	<string>crashlytics-test-7eac3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760978599544:ios:c47f3f91083feb0505c78d</string>
	<key>DATABASE_URL</key>
	<string>https://crashlytics-test-7eac3.firebaseio.com</string>
</dict>
</plist>